In [66]:
library(data.table)

In [67]:
# Class for PLS
PLS<-setRefClass("PLS_DS",
                fields = list(
                p_value_threshold = "numeric",
                correclation_threshold = "numeric"
                ),
                methods = list(
                    transform = function(X,y){
                        # x dataframe
                        df = data.frame(X)
                        df['Y']= y
                        # correlation matrix
                        corr = cor(df)


                        #scale data
                        df_scaled = scale(df)
                        df_scaled = data.frame(df_scaled)

                        n_features = ncol(X)
                        corr_y = corr[n_features + 1,1:n_features]
                        corr_yabs = abs(corr_y)

                        # Empty list to store the selected features
                        selected_features = list()

                        for (i in 1:n_features){
                            if (corr_yabs[i] > self$correclation_threshold){
                                selected_features[[length(selected_features) + 1]] = i
                            }
                        }

                        sum1 = 0
                        sum2 = 0
                        for (i in selected_features){
                            sum1 = sum1 + corr[n_features + 1 , 1:n_features][i] * df_scaled[i]
                            sum2 = sum2 + corr_yabs[i]**2
                        }

                        T1 = (1/sqrt(sum2)) * sum1
                        T = data.frame(T1 = T1)
                        Y_scaled = df_scaled[n_features + 1]

                        j = 2
                        while (TRUE){
                            model = list()
                            for (i in 1:n_features){
                                X_ = cbind(df_scaled[i],T)
                                model[[i]] = lm(formula = unlist(Y_scaled) ~ unlist(T) + unlist(df_scaled[i]) )                    
                            }

                            col2 = list()
                            for (i in 1:n_features){
                                p_value = summary(model[[i]])$coefficients[,4][3]
                                if (p_value < self$p_value_threshold){
                                    col2[[length(col2) + 1]] = i
                                }
                            }

                        }
                        
                    }
                
                )
)

In [68]:
# get of this file path

path2data<-file.path("c:","Users","makch","STUDIES","s3","ADD","regPLS")

# read data
DM.dt <- fread(file.path(path2data, "Data_Cornell.csv"))


# data frame creation
df <- data.frame(DM.dt)



Y = df$Y

head(Y)

X = subset(df, select = -c(Y))

print(X)

df2 = data.frame(X)
df2['Y'] = Y

print(df2)

[1] 98.7 97.8 96.6 92.0 86.6 91.2

     X1   X2   X3   X4   X5   X6   X7
1  0.00 0.23 0.00 0.00 0.00 0.74 0.03
2  0.00 0.10 0.00 0.00 0.12 0.74 0.04
3  0.00 0.00 0.00 0.10 0.12 0.74 0.04
4  0.00 0.49 0.00 0.00 0.12 0.37 0.02
5  0.00 0.00 0.00 0.62 0.12 0.18 0.08
6  0.00 0.62 0.00 0.00 0.00 0.37 0.01
7  0.17 0.27 0.10 0.38 0.00 0.00 0.08
8  0.17 0.19 0.10 0.38 0.02 0.06 0.08
9  0.17 0.21 0.10 0.38 0.00 0.06 0.08
10 0.17 0.15 0.10 0.38 0.02 0.10 0.08
11 0.21 0.36 0.12 0.25 0.00 0.00 0.06
12 0.00 0.00 0.00 0.55 0.00 0.37 0.08
     X1   X2   X3   X4   X5   X6   X7    Y
1  0.00 0.23 0.00 0.00 0.00 0.74 0.03 98.7
2  0.00 0.10 0.00 0.00 0.12 0.74 0.04 97.8
3  0.00 0.00 0.00 0.10 0.12 0.74 0.04 96.6
4  0.00 0.49 0.00 0.00 0.12 0.37 0.02 92.0
5  0.00 0.00 0.00 0.62 0.12 0.18 0.08 86.6
6  0.00 0.62 0.00 0.00 0.00 0.37 0.01 91.2
7  0.17 0.27 0.10 0.38 0.00 0.00 0.08 81.9
8  0.17 0.19 0.10 0.38 0.02 0.06 0.08 83.1
9  0.17 0.21 0.10 0.38 0.00 0.06 0.08 82.4
10 0.17 0.15 0.10 0.38 0.02 0.10 0.08 83.2
11 0.21 0.36 0.12 0.25 0.00 0.00 0.06 81.4
12 0.00 0.00 0.00 0.55 0.00 0.37 0.08 88.1

In [69]:
dt_sclaed = scale(df2)
df_scaled = data.frame(dt_sclaed)
df_scaled

   X1         X2          X3         X4          X5         X6
1  -0.8036272  0.05966583 -0.8051005 -1.11595895 -0.7588797  1.4652349
2  -0.8036272 -0.60518202 -0.8051005 -1.11595895  1.3426333  1.4652349
3  -0.8036272 -1.11660345 -0.8051005 -0.67544884  1.3426333  1.4652349
4  -0.8036272  1.38936154 -0.8051005 -1.11595895  1.3426333  0.2020033
5  -0.8036272 -1.11660345 -0.8051005  1.61520375  1.3426333 -0.4466833
6  -0.8036272  2.05420939 -0.8051005 -1.11595895 -0.7588797  0.2020033
7   1.0383947  0.26423440  1.0528238  0.55797948 -0.7588797 -1.0612284
8   1.0383947 -0.14490274  1.0528238  0.55797948 -0.4086275 -0.8563800
9   1.0383947 -0.04261845  1.0528238  0.55797948 -0.7588797 -0.8563800
10  1.0383947 -0.34947131  1.0528238  0.55797948 -0.4086275 -0.7198144
11  1.4718116  0.72451369  1.4244087 -0.01468367 -0.7588797 -1.0612284
12 -0.8036272 -1.11660345 -0.8051005  1.30684667 -0.7588797  0.2020033
   X7         Y
1  -0.9847319  1.55133368
2  -0.6154575  1.41332377
3  -0.6154575  1.22931055
4  -1.3540064  0.52392653
5   0.8616404 -0.30413296
6  -1.7232809  0.40125105
7   0.8616404 -1.02485141
8   0.8616404 -0.84083819
9   0.8616404 -0.94817924
10  0.8616404 -0.82550375
11  0.1230915 -1.10152359
12  0.8616404 -0.07411644

In [70]:
cortest = cor(df2)
cortest

   X1         X2          X3         X4         X5         X6
X1  1.0000000  0.10419638  0.9998593  0.3707118 -0.5479938 -0.8045838
X2  0.1041964  1.00000000  0.1007769 -0.5368641 -0.2925732 -0.1912469
X3  0.9998593  0.10077691  1.0000000  0.3739997 -0.5482009 -0.8052036
X4  0.3707118 -0.53686410  0.3739997  1.0000000 -0.2113300 -0.6456559
X5 -0.5479938 -0.29257322 -0.5482009 -0.2113300  1.0000000  0.4629233
X6 -0.8045838 -0.19124694 -0.8052036 -0.6456559  0.4629233  1.0000000
X7  0.6026118 -0.59002842  0.6070804  0.9158765 -0.2743558 -0.6563565
Y  -0.8372958 -0.07081888 -0.8379578 -0.7067135  0.4937990  0.9850704
   X7         Y
X1  0.6026118 -0.83729576
X2 -0.5900284 -0.07081888
X3  0.6070804 -0.83795781
X4  0.9158765 -0.70671354
X5 -0.2743558  0.49379905
X6 -0.6563565  0.98507041
X7  1.0000000 -0.74111624
Y  -0.7411162  1.00000000

In [71]:
n_features = ncol(X)
n_features

corr_y = cortest[n_features + 1, 1:n_features]
corr_y

corr_yabs = abs(corr_y)

corr_yabs

[1] 7

         X1          X2          X3          X4          X5          X6
-0.83729576 -0.07081888 -0.83795781 -0.70671354  0.49379905  0.98507041
         X7
-0.74111624

        X1         X2         X3         X4         X5         X6         X7
0.83729576 0.07081888 0.83795781 0.70671354 0.49379905 0.98507041 0.74111624

In [72]:
selected_features = list()

for (i in 1:n_features){
    if (corr_yabs[i] > 0.5){
        selected_features[[length(selected_features) + 1]] = i
    }
}

selected_features

[[1]]
[1] 1

[[2]]
[1] 3

[[3]]
[1] 4

[[4]]
[1] 6

[[5]]
[1] 7

In [73]:
cortest[n_features + 1,1:n_features]
for (i in selected_features){
    print(i)
    print(cortest[n_features + 1,1:n_features][i])
}

         X1          X2          X3          X4          X5          X6
-0.83729576 -0.07081888 -0.83795781 -0.70671354  0.49379905  0.98507041
         X7
-0.74111624

[1] 1
        X1
-0.8372958
[1] 3
        X3
-0.8379578
[1] 4
        X4
-0.7067135
[1] 6
       X6
0.9850704
[1] 7
        X7
-0.7411162

In [74]:
sum1 = 0
sum2 = 0
for (i in selected_features){
    sum1 = sum1 + cortest[n_features + 1 , 1:n_features][i] * df_scaled[i]
    sum2 = sum2 + corr_yabs[i]**2
}

T1 = (1/sqrt(sum2)) * sum1

T1

   X1
1   2.329440267
2   2.181503312
3   2.013220272
4   1.804723828
5  -0.471669358
6   1.952660783
7  -2.070308220
8  -1.961229291
9  -1.961229291
10 -1.888510006
11 -1.920147673
12 -0.008454622

In [75]:
T = data.frame(T1 = T1)

In [76]:
names(T)[names(T) == 'X1'] <- 'T1'
T

   T1
1   2.329440267
2   2.181503312
3   2.013220272
4   1.804723828
5  -0.471669358
6   1.952660783
7  -2.070308220
8  -1.961229291
9  -1.961229291
10 -1.888510006
11 -1.920147673
12 -0.008454622

In [77]:
Y_scaled = df_scaled[n_features + 1]

In [78]:
Y_scaled

   Y
1   1.55133368
2   1.41332377
3   1.22931055
4   0.52392653
5  -0.30413296
6   0.40125105
7  -1.02485141
8  -0.84083819
9  -0.94817924
10 -0.82550375
11 -1.10152359
12 -0.07411644

In [79]:
X_test = cbind(T,df_scaled[1])
lmtest = lm(formula = unlist(Y_scaled) ~ . , data= X_test) 


p_value = summary(lmtest)$coefficients[,4][3]

p_value

       X1
0.6414235

In [80]:
X_test

   T1           X1
1   2.329440267 -0.8036272
2   2.181503312 -0.8036272
3   2.013220272 -0.8036272
4   1.804723828 -0.8036272
5  -0.471669358 -0.8036272
6   1.952660783 -0.8036272
7  -2.070308220  1.0383947
8  -1.961229291  1.0383947
9  -1.961229291  1.0383947
10 -1.888510006  1.0383947
11 -1.920147673  1.4718116
12 -0.008454622 -0.8036272

In [62]:
model = list()
    for (i in 1:n_features){
        X_ = 0
        X_ = cbind(T,df_scaled[i])
        model[[i]] = lm(formula = unlist(Y_scaled) ~ . , data= X_)                     
    }

In [65]:
X_

   T1           X7
1   2.329440267 -0.9847319
2   2.181503312 -0.6154575
3   2.013220272 -0.6154575
4   1.804723828 -1.3540064
5  -0.471669358  0.8616404
6   1.952660783 -1.7232809
7  -2.070308220  0.8616404
8  -1.961229291  0.8616404
9  -1.961229291  0.8616404
10 -1.888510006  0.8616404
11 -1.920147673  0.1230915
12 -0.008454622  0.8616404

In [63]:
length(model)

[1] 7

In [81]:
col2 = list()
for (i in 1:n_features){
    p_value = summary(model[[i]])$coefficients[,4][3]
    if (p_value < 0.05){
        col2[[length(col2) + 1]] = i
    }
}

In [82]:
col2

[[1]]
[1] 2

[[2]]
[1] 6

In [83]:
residu = list()

for (i in col2){
    print(i)
    model = lm(formula = unlist(df_scaled[i]) ~ . , data = T)
    residu[[length(residu) + 1]] = resid(model)
}

[1] 2
[1] 6

In [84]:
length(residu)

[1] 2

In [85]:
X1n = list()
for (r in residu){
    X1n[[length(X1n) + 1]] = r/var(r)
}

In [87]:
X1n

[[1]]
          1           2           3           4           5           6
-0.09708295 -0.76302527 -1.27159893  1.29037079 -1.10332608  1.95631312
          7           8           9          10          11          12
 0.40884896 -0.01451331  0.08948059 -0.22742556  0.86665290 -1.13469426

[[2]]
         1          2          3          4          5          6          7
 2.2908418  2.7509578  3.2743546 -4.2984240 -1.4400687 -4.7585401 -0.4674807
         8          9         10         11         12
 0.5264355  0.5264355  1.1890463 -0.9345126  1.3409547

In [96]:
model2 = list()
for (i in 1:length(X1n)){
    dt = data.frame(T)
    dt[1] = X1n[[i]]
    model2[[i]] = lm(formula = unlist(Y_scaled) ~ . , data = dt)

}

In [97]:
dt

   T1         T2
1   2.2908418  0.18138080
2   2.7509578 -0.23177857
3   3.2743546 -0.52861538
4  -4.2984240  0.43040559
5  -1.4400687 -0.92380733
6  -4.7585401  0.84356497
7  -0.4674807  0.23355534
8   0.5264355  0.04710354
9   0.5264355  0.11942945
10  1.1890463 -0.02898039
11 -0.9345126  0.50120676
12  1.3409547 -0.64346477

In [98]:
dt

   T1         T2
1   2.2908418  0.18138080
2   2.7509578 -0.23177857
3   3.2743546 -0.52861538
4  -4.2984240  0.43040559
5  -1.4400687 -0.92380733
6  -4.7585401  0.84356497
7  -0.4674807  0.23355534
8   0.5264355  0.04710354
9   0.5264355  0.11942945
10  1.1890463 -0.02898039
11 -0.9345126  0.50120676
12  1.3409547 -0.64346477

In [99]:
T

   T1           T2
1   2.329440267  0.18138080
2   2.181503312 -0.23177857
3   2.013220272 -0.52861538
4   1.804723828  0.43040559
5  -0.471669358 -0.92380733
6   1.952660783  0.84356497
7  -2.070308220  0.23355534
8  -1.961229291  0.04710354
9  -1.961229291  0.11942945
10 -1.888510006 -0.02898039
11 -1.920147673  0.50120676
12 -0.008454622 -0.64346477

In [92]:
summary(model2[[1]])

Call:
lm(formula = unlist(Y_scaled) ~ ., data = dt)

Residuals:
     Min       1Q   Median       3Q      Max
-0.29007 -0.14346  0.03672  0.09985  0.36962

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  5.090e-16  6.238e-02   0.000   1.0000
T1           4.992e-01  3.385e-02  14.749 1.31e-07 ***
V2          -1.940e-01  6.462e-02  -3.003   0.0149 *
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.2161 on 9 degrees of freedom
Multiple R-squared:  0.9618,	Adjusted R-squared:  0.9533
F-statistic: 113.3 on 2 and 9 DF,  p-value: 4.167e-07

In [93]:
ceofs = list()
for (i in 1:length(model2)){
    ceofs[[length(ceofs) + 1]] = summary(model2[[i]])$coefficients[2]
}

ceofs

[[1]]
[1] 0.4992099

[[2]]
[1] 0.4992099

In [94]:
sum1 = 0
sum2 = 0
for (i in 1:length(residu)){
    sum1 = sum1 + ceofs[[i]] * residu[[i]]
    sum2 = sum2 + ceofs[[i]]**2
}

T[paste(c("T", 2), collapse = "")] = (1/sqrt(sum2)) * sum1

In [95]:
T

   T1           T2
1   2.329440267  0.18138080
2   2.181503312 -0.23177857
3   2.013220272 -0.52861538
4   1.804723828  0.43040559
5  -0.471669358 -0.92380733
6   1.952660783  0.84356497
7  -2.070308220  0.23355534
8  -1.961229291  0.04710354
9  -1.961229291  0.11942945
10 -1.888510006 -0.02898039
11 -1.920147673  0.50120676
12 -0.008454622 -0.64346477